<a href="https://colab.research.google.com/github/jyryu3161/biocomputing/blob/main/lab1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lab1.파이썬 프로그래밍 기초, 자료형

변수명을 만드는 규칙. 참고: https://m.post.naver.com/viewer/postView.naver?volumeNo=15835285&memberNo=38315694

## 리스트 자료형

*  리스트 자료형: 여러 요소를 한번에 담을 수 있음
*  리스트명 = [요소1, 요소2, 요소3, ...]

In [ ]:
odd = [1, 3, 5, 7, 9]
print (odd)

In [ ]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print (a)
print (b)
print (c)
print (d)
print (e)

리스트의 인덱싱

In [ ]:
a = [1, 2, 3]
print (a[0])
print (a[0] + a[2])
print (a[-1])

리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (a[0:2])

b = a[:2]
c = a[2:]

print (b)
print (c)


print (a[0:8:2])

리스트 더하기

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

print (a + b)

리스트 반복하기

In [ ]:
a = [1, 2, 3]
print (a * 3)


a = list(range(1, 100, 1))
print (a)

a = list(range(1, 100, 2))
print (a)

리스트에서 하나의 값 수정하기

In [ ]:
a = [1, 2, 3]
a[2] = 4
print (a)

리스트에서 연속된 범위 값 수정하기

In [ ]:
a = [1, 2, 3]
print (a)

a[1:2] = ['a', 'b', 'c']
print (a)

[], del 사용해 리스트 요소 삭제하기

In [ ]:
a = [1, 'a', 'b', 'c', 4]
a[1:3] = []
print (a)

del a[1]
print (a)

리스트에 요소 추가

In [ ]:
a = [1, 2, 3]
a.append(4)
print (a)

a.append(4)
a.append(5)
a.append([7])
print (a)

리스트 정렬 (sort)

In [ ]:
a = [1, 4, 3, 2]
a.sort()
b = a.sort()

print(a.sort())
print(b)

print (a)

리스트 뒤집기 (reverse)

In [ ]:
a = ['a', 'c', 'b']
a.reverse()
print (a)

a.sort()
print (a)

위치 반환(index)

In [ ]:
a = [1, 2, 3]

print (a.index(3))
print (a.index(1))

리스트에 요소 삽입 (insert)

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
print (a)

리스트 요소 제거 (remove)

In [ ]:
a = [1, 2, 3, 1, 2, 3]
print(a.remove(3))
print (a)

a.remove(3)
print (a)

리스트 요소 끄집어내기 (pop)

In [ ]:
a = [1, 2, 3]
b = a.pop()

print (a)
print (b)

리스트에 포함된 요소 x의 개수 세기 (count)

In [ ]:
a = [1, 2, 3, 1]
print (a.count(1))

리스트 자료형 사용 시 주의사항

In [ ]:
a = [1, 2, 3]
b = a
b[1] = 5

print (a)
print (b)

print (id(a))
print (id(b))

In [ ]:
import copy

a = [1, 2, 3]
b = copy.deepcopy(a)
b[1] = 5

print (a)
print (b)

print (id(a))
print (id(b))

## 튜플 자료형

튜플 자료형을 만드는 법

In [ ]:
t1 = (1, 2, 'a', 'b')
t2 = tuple([1, 2, 'a', 'b'])
t3 = (1,)

print (t1)
print (t2)
print (t3)

튜플 요소값 삭제 시 오류

In [ ]:
t1 = (1, 2, 'a', 'b')
del t1[0]

튜플 요소값 변경 시 오류

In [ ]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

인덱싱

In [ ]:
t1 = (1, 2, 'a', 'b')
print (t1[0])
print (t1[3])

슬라이싱

In [ ]:
t1 = (1, 2, 'a', 'b')
print (t1[1:])

더하기, 곱하기

In [ ]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

t3 = t1 + t3

print(t1 + t2)
print (t2 * 3)

print(t1)
print(t2)

## 집합 자료형

집합 자료형 만드는 법

In [ ]:
s1 = set([1, 2, 3])
print (s1)

순서가 없고, 중복이 허용되지 않음

In [ ]:
s2 = set("Hello")
print (s2)

교집합

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print (s1 & s2)
print (s1.intersection(s2))

합집합

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print (s1 | s2)
print (s1.union(s2))

차집합

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print (s1 - s2)
print (s2 - s1)

print (s1.difference(s2))
print (s2.difference(s1))

값 1개 추가하기

In [ ]:
s1 = set([1, 2, 3])
s1.add(4)
print (s1)

값 여러개 추가하기

In [ ]:
s1 = set([1, 2, 3])
s1.update([4,5,6])

print (s1)

특정 값 제거하기

In [ ]:
s1 = set([1, 2, 3])
s1.remove(2)
print (s1)

집합 자료형을 이용한 리스트의 중복 제거하기

In [ ]:
list1 = [1, 2, 2, 2, 3, 3]
list1 = list(set(list1))
print (list1)

# 실습 문제

1. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

2. movie_rank 리스트에서 '럭키'를 삭제하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print (movie_rank)

3. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

4. 숫자 1 이 저장된 튜플을 생성하라.

In [ ]:
t1 = (1,)
t2 = tuple([1])
print(t1)
print(t2)

5. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

In [ ]:
t = (1, 2, 3)
t[0] = 'a'
# 튜플은 데이터 변환, 수정 불가

6. 다음 튜플을 리스트로 변환하라.

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print (list(interest))

7. 다음 리스트를 튜플로 변경하라.

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print (tuple(interest))

8. 다음 리스트의 중복을 제거하라.

In [ ]:
a = ['A', 'C', 'C', 'T', 'G', 'T', 'A', 'C', 'T', 'T']
a = set(a)
a = list(a)
print(a)

a = list(set(a))
print (a)